---
type Props = {
	img: string
	title: string
	text: string
	textFor?: string
}

const { title, text, textFor, img } = Astro.props as Props
---

<div
	class='group style-card h-full relative flex flex-col items-center justify-between overflow-hidden bg-[#F5F5F5]/80 backdrop-blur-[2px] shadow-[0px_20px_40px_rgba(0,0,0,0.2)] transition-transform duration-500 ease-out hover:scale-105'
>
	<div class='mt-[20px] relative z-10 flex flex-col items-center justify-between text-center'>
		<img
			src={img}
			alt={title}
			class='style-icon mx-auto transition-transform duration-500 ease-out group-hover:scale-110'
			loading='lazy'
			decoding='async'
		/>

		<h3 class='style-title font-medium text-accent mt-[20px]'>
			{title}
		</h3>
		<p class='style-text font-light'>
			{text}
		</p>
	</div>
	{textFor ? <div class='style-text-for text-center mt-[10px]  font-medium '>{textFor}</div> : null}
</div>

<style>
	.style-card {
		padding: 30px;
		border-radius: 12px;
		min-height: 320px;
	}
	.style-icon {
		width: 80px;
		height: 80px;
	}
	.style-title {
		margin-top: 24px;
		font-size: 24px;
	}
	.style-text {
		margin-top: 10px;
		font-size: 14px;
		line-height: 24px;
	}
	.style-text-for {
		font-size: 13px;
		line-height: 18px;
	}
	@media screen and (max-width: 1350px) {
		.style-card {
			padding: 20px;
			border-radius: 10px;
			min-height: 270px;
		}
		.style-icon {
			width: 60px;
			height: 60px;
		}
		.style-title {
			margin-top: 30px;
			line-height: 24px;
			font-size: 24px;
		}
		.style-text {
			margin-top: 10px;
			font-size: 10px;
			line-height: 15px;
		}
		.style-text-for {
			font-size: 10px;
			line-height: 15px;
		}
	}
	@media screen and (max-width: 700px) {
		.style-card {
			padding: 10px;
			border-radius: 8px;
			min-height: 230px;
		}
		.style-icon {
			width: 40px;
			height: 40px;
		}
		.style-title {
			margin-top: 18px;
			font-size: 16px;
			line-height: 20px;
		}
		.style-text {
			margin-top: 10px;
			font-size: 10px;
			line-height: 14px;
		}
	}
</style>
